
/* 
 * This CSS file will be applied after all the built in styles.
 * 
 * CSS files are loaded in alphabetic order, hence the  "zzz" in 
 * the filename to force it to load after the other css files!
 * 
 * Add any local over-rides here. 
 * 
 * To totally replace a system css file, create a file of the same 
 * name in this directory. eg. messages.css
 * 
*/

table.ep_tm_searchbar { height: 30px; }
table.ep_tm_searchbar td {padding-left: 20px; }

.button_panel { padding: 5px;}

div.document_md {
	margin: 2em 2em;
}
div.document_md dl {
	width: 100%;
}

div.document_md dt {
	margin-top: 1em;
	float: left;
	width: 30%;
  	clear: left;
}

div.document_md dd {
	float: left;
	width: 70%;
}
button.update_md {
	clear:both;
	display: block;
	margin-top: 10em;
}
div.share_panel {
	margin: 2em 2em;
}
#create_oc_user { display: none; }
#have_oc_user { display: none; }
.ep_username { font-weight: bold; }
.ark_ingest { float: right; }
#file_tree td {text-align: center;}
#file_tree th {text-align: center;}
#file_tree td.ft_left{ text-align: left;}
.license { display: inline-block; width: 80px; height: 15px; background-size: 80px 15px;}
.cc_by { background-image: url("images/cc_by.png");}
.cc_by_nd { background-image: url("images/cc_by_nd.png");}
.cc_by_sa { background-image: url("images/cc_by_sa.png");}
.cc_by_nc { background-image: url("images/cc_by_nc.png");}
.cc_by_nc_nd { background-image: url("images/cc_by_nc_nd.png");}
.cc_by_nc_sa { background-image: url("images/cc_by_nc_sa.png");}
.cc_public_domain { background-image: url("images/cc_public_domain.png");}
/*for arkivum rep states*/
.red {color: #c00;}
.amber {color: #ffbf00;}
.green {color: #0c0;}
.not_set {color: #ccc; opacity: 0.7; font-weight: bold;}
.batch_options {float: right; font-size: 1.2em;}
.batch_options span {font-size: 1.3em;}

.ep_tm_page_content { border: none;}
